:root {
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --title-theme-color: #212121;
  --text-theme-color: #757575;
  --animation-theme-color: #2196f3;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-family: var(--main-font);
  color: var(--title-theme-color);
  /* width: 1622px;
  height: 2349px; */
  background: #ffffff;
}

img {
  display: block;
}

.container {
  width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}


button {
  font-family: inherit;
}

.nav-list-link.current {
  color: #2196f3;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

/*  ============ Logo  ============ */
.logo-web-header {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-studio-header {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
/*  ============ End Logo  ============ */

/*  ============ HEADER  ============ */

.header .container {
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
}

.header  {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.navigation .nav {
  display: flex;
  align-items: center;
  padding: 0 215px;
}

.address .address-nav {
  display: flex;
  align-items: center;
}

.nav-list:first-child {
  margin-right: 93px;
}

.nav-list:nth-child(1n + 2) {
  margin-right: 50px;
}

.adress-list:not(:last-child) {
  margin-right: 50px;
}

.nav-list-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-theme-color);
}

.header-tel-link,
.header-email-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--text-theme-color);
}

.nav-list-link:hover,
.nav-list-link:focus,
.header-tel-link:hover,
.header-tel-link:focus,
.header-email-link:focus,
.header-email-link:hover {
color: var(--animation-theme-color);
}
/*  ============ END HEADER  ============ */

/*  ============ main section  ============ */

.main-section .container {
    height: 600px;
    background-color: rgba(47, 48, 58, 100);
    text-align: center;
  }

.main-section-title {
  font-family: var(--main-font);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding-top: 200px;
    padding-bottom: 30px;
}

.main-section-button {
    display: inline-block;
    height: 50px;
    padding: 0 32px;
    
    letter-spacing: 0.06em;
    font-family: var(--main-font);
    background-color: var(--animation-theme-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 2.25;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
}

/*  ============ End main section  ============ */

/*  ============ Benefits  ============ */

.benefits .container {
  height: 195px;
}

.benefits-title-group {
  padding: 94px 215px 0;
}

.benefits-title-group {
  display: flex;
  justify-content: space-between;
}

.benefits-list:not(:last-child) {
  margin-right: 30px;
}

.benefits-list-item {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-theme-color);
  margin-bottom: 10px;
}

.benefits-list-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-theme-color);
}
/*  ============ End benefits  ============ */

/*  ============ doing + team  ============ */

.doing .container {
  height: 574px;
  padding: 94px 215px 94px;
}

.doing-item {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.doing-title,
.team-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-theme-color);
}
.team-person {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-theme-color);
  text-align: center;
  padding: 30px 0 10px;
}

.team-role {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-theme-color);
  text-align: center;
  padding-bottom: 30px;
}

.team .container {
  height: 646px;
  background-color: #F5F4FA;
  padding: 94px 215px;
}

.team-group {
  display: flex;
  justify-content: space-between;
}

.team-list {
  background-color: white;
}

.team-title {
  margin-bottom: 50px;
}

/*  ============ End doing + team  ============ */

/*  ============ footer  ============ */
.footer-tel-link,
.footer-email-link,
.footer-adress-link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer .container {
  background-color: #2F303A;
  height: 252px;
}

.footer-list:not(:last-child) {
  margin-bottom: 9px;
}

.footer-adress-link {
  color: white;
}

.footer-email-link,
.footer-tel-link {
  color:rgba(255, 255, 255, 0.6);
}

.logo-footer {
  padding-top: 60px;
  padding-left: 215px;
}

.contact-footer {
  margin-top: 20px;
  padding-bottom: 60px;
  padding-left: 215px;
}

.container .logo-web {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.container .logo-studio {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: white;
}

/*  ============ End footer  ============ */

/*  ============ portfolio button  ============ */
.portfolio-list-button-item {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--title-theme-color);
  background-color: #F5F4FA;
  border-radius: 4px;
  padding: 6px 22px 6px;
  border: none;
}

.portfolio-list-button-item:hover,
.portfolio-list-button-item:focus {
  background-color: #2196F3;
  color: #FFFFFF; 
  border: none;
  border-style: none;
  outline: none;
}

.portfolio-group {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.portfolio-list-button:not(:last-child) {
  margin-right: 8px;
}

/*  ============ End portfolio button  ============ */

/*  ============ portfolio-project  ============ */

.portfolio-project .container {
  height: 1548px;
  padding: 94px 215px 94px;
  
}

/* .portfolio-container {
  padding: 94px 215px 94px;
} */

.portfolio-project-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-project-list:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}

.portfolio-project-list:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-project-list:nth-last-child(-n + 3) {
  margin-bottom: 94px;
}

.portfolio-project-list {
  height: 404px;
  width: 370px;
  border: 1px solid rgba(238, 238, 238, 1);
}

.portfolio-project-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-theme-color);
  margin-top: 20px;
  margin-left: 24px;
}

.portfolio-project-type {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-theme-color);
  margin-top: 12px;
  margin-left: 24px;
}

/*  ============ End portfolio-project  ============ */
